.modal-body {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.modal-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
  background-color: #f9f9f9; /* Light Background */
  padding: 1rem;
  border-radius: 8px;
}

.modal-item img {
  max-width: 100px;
  max-height: 100px;
  object-fit: cover;
  margin-bottom: 1rem;
}

#cartcontainerfooter {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  
}

#cartmodalclose {
  background-color: rgb(40, 175, 33);
  color: white;
  font-size: 20px;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-family: 'Roboto';
}

#cartmodalcheckout {
  background-color: rgb(42, 85, 160);
  color: white;
  font-size: 20px;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-family: 'Roboto';
  
  
}