/* NavBar.css */

.navbar {
   
}

.navbar-nav {
    width: 100%;
    justify-content: center;
}

.nav-item {
    margin-left: 15px;
    margin-right: 15px;
}

img {

    border-radius: 50px;
    border-style: solid;
    border-color: white;
    
}

img:hover {

    opacity: 0.5;
    filter: brightness(0.8) sepia(1000) hue-rotate(5000deg);
  
   
   
}

#navbarNav {

    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

