.modal-body {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  justify-content: center;
}

.modal-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1rem;
  background-color: #f9f9f9; 
  padding: 1rem;
  border-radius: 8px;
}

.modal-item img {
  max-width: 100px;
  display: flex;
  max-height: 100px;
  object-fit: cover;
  margin-bottom: 1rem;
  justify-content: center;
  align-items: center;
}

#cartcontainerfooter {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;  
}

#cartmodalclose {
  background-color: rgb(40, 175, 33);
  color: white;
  font-size: 20px;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-family: 'Roboto';
}

#cartmodalcheckout {
  background-color: rgb(42, 85, 160);
  color: white;
  font-size: 20px;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-family: 'Roboto';    
}

#removeitembutton{
  background-color: rgb(134, 165, 167);
  color: white;
  font-size: 15px;
  border: solid;
  border-radius: 10px;
  padding: 5px;
  font-family: 'Roboto';
  margin-top: 5px;
  font-weight: 700; 
}



#removeall {
  background-color: rgb(114, 73, 153);
  color: white;
  font-size: 20px;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-family: 'Roboto';     
}

#cartisempty {
  font-family: 'Roboto';
  font-size: 30px;
  font-weight: 700;
}