.large-spinner {
    width: 5rem;
    height: 5rem;
    border-width: 0.3rem;
}



.products-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 80px;
    padding: 20px;
    
   
  }
  
  .product-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; 
    border: 1px solid #ccc;
    border-radius: 25px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .product-card:hover {
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
    border-radius: 50px;
  }
  
  .product-card img {
     width: 100%; 
     height: 200px; 
     object-fit: fill; 
     margin-bottom: 15px;
     border-radius: 0px; 
     cursor: pointer;

    
  }
  
  .product-card:hover {
    opacity: 0.9 ;
    
    transform: scale(1.05);
  }
  .product-card h2 {
    margin: 0;
    font-size: 18px;
    margin-bottom: 20px;
  }
  
  .product-card .category {
    font-style: italic;
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .product-card .price {
    font-weight: bold;
    font-size: 20px;
    display: flex;
    justify-content: center;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  .product-card {
   
    opacity: 0; 
    animation: fadeIn 0.5s forwards;
  }
#cartanddescriptioncontainer {
  
    display: flex; 
    align-items: center; 
    gap: 10px;
  
}  
#cartbutton {
  padding: 10px 10px;
  border: none;
  background-color: #16e071;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
  white-space: nowrap; 
  min-width: 100px;  
  overflow: hidden;   
  border-radius: 5px;

}

#cartbutton:hover{
  background-color: #1a4f19;
  transform: scale(1.05);
}

#modalbutton {
  padding: 10px 10px;
  border: none;
  background-color: #3498db;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
  
  
}

#modalbutton:hover {

  background-color: #2980b9;
  transform: scale(1.05);
}


#modalheader {
  background-color: #3498db;
    color: white; 
    padding: 15px 20px; 
    border-bottom: 2px solid #f0f0f0; 

}
#modaltitle {

  font-family: 'Roboto', sans-serif;
  font-size:18px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-weight: 700;
  font-style: italic;
  margin: 0; 
  

}


#modalclose {

  border: none;
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3498db;

}

#modalclose:hover {

  background-color: #2980b9;
  
}


#modalbody {

font-weight: 500;
font-family: 'Roboto'
}

#productsearchbox {

  display: flex;
  justify-content: center;
}
/* 
#productinputsearch {

  border: none;
  border-radius: 5px;
  margin-bottom: 20px;
  margin-top: 20px;
} */

#productlabelsearch {
  font-family: 'Roboto';
  
}