
.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 0 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center; 
}


.card {
    width: 40%;
    border: none;
    overflow: hidden;
}

.card-img-top {
    width: 100%; 
    height: auto; 
    object-fit: cover;
    margin: 0 auto; 
    display: block;
    cursor:pointer;
}

.card-body {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
}

.card-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.card-text {
    flex: 1;
    font-size: 16px;
    color: #777;
}


p {
    font-size: 18px;
    margin: 0;
}


.btn {
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #0056b3;
}

#singleproductbtn {

    background-color: #16e071;
}

#singleproductbtn:hover{
    background-color: #1a4f19;
    transform: scale(1.05);

}

#gobackbutton {

    border: none;
    color: white;
    background-color: #565f68;
    font-size: 25px;
    margin-top: 30px;
    margin-left: 30px;
    border-radius: 5px;
    padding:8px;
    font-weight: 700;
    font-family: 'Roboto';
    
}

#gobackbutton:hover {
    background-color: #3e4953;
    transform: scale(1.05);
}